/* Styles specific to the PostList component */
.post-list {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-list h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.post-list div {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.post-list div h3 {
  font-size: 1.5rem;
  margin: 0;
}

.post-list div p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 10px;
}

.post-list p {
  text-align: center;
  color: #777;
  font-size: 1.2rem;
}
