/* Styles specific to the WelcomePage component */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: #fff;
  text-align: center;
}

.message {
  margin-bottom: 20px;
}

.message h1 {
  font-size: 3rem;
  animation: fadeIn 2s ease-in-out;
}

.message p {
  font-size: 1.5rem;
  color: #bbb;
}

.logo-container {
  opacity: 0;
  transform: scale(0);
  animation: fadeInLogo 2s ease-out forwards;
}

.logo-container.show {
  opacity: 1;
  transform: scale(1);
}

.cloud-icon {
  width: 150px;
  height: auto;
  animation: rotateLogo 3s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLogo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
